In [99]:
import pandas as pd
import scipy 
import matplotlib
from matplotlib import pyplot as pyplot
import numpy as np 
import seaborn as sns 
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Get the data from this address : https://drive.google.com/drive/folders/1Dwaa32bNiNe0f67o27bJXw-08nh2HsiN 
# Group 4

In [21]:
file1=pd.read_csv("ElonTweets(Sentiment).csv")
file1.drop(columns=['Unnamed: 0.1',	'Unnamed: 0'], inplace=True)
file1.head()

,Datetime,Tweet Id,Text,Username,location,reply count,retweet count,like count,language,Twitter Access Point,Follower Count,Friends Count,verified,Date,mentions,sentiment
0,2022-09-29 20:22:46+00:00,1575581872913907712,@MuskUniversity True,elonmusk,NaN,377,127,3007,en,Twitter for iPhone,107414837,122,True,2022-09-29,MuskUniversity,"['neutral', 0.6005306]"
1,2022-09-29 15:35:09+00:00,1575509494510993408,Needs be able to get from Starbase to South Pa...,elonmusk,NaN,1604,1416,33556,en,Twitter for iPhone,107414837,122,True,2022-09-29,_,"['neutral', 0.8452575]"
2,2022-09-29 15:32:42+00:00,1575508878300618752,@WholeMarsBlog Off-label use ðŸ¤£,elonmusk,NaN,754,492,23482,en,Twitter for iPhone,107414837,122,True,2022-09-29,WholeMarsBlog,"['neutral', 0.7530303]"
3,2022-09-29 15:31:12+00:00,1575508498430820352,Cybertruck will be waterproof enough to serve ...,elonmusk,NaN,12870,9732,124276,en,Twitter for iPhone,107414837,122,True,2022-09-29,_,"['positive', 0.6118259]"
4,2022-09-29 15:28:10+00:00,1575507735298207744,@phibetakitten Submarines use electric motors ...,elonmusk,NaN,509,347,8189,en,Twitter for iPhone,107414837,122,True,2022-09-29,phibetakitten,"['neutral', 0.85970926]"

In [27]:
file2nov22= pd.read_csv("ElonTweets(Sentiment)_11-9-22.csv")
file2nov22.drop(columns=['Unnamed: 0.1',	'Unnamed: 0'], inplace=True)
file2nov22.head()

,Datetime,Tweet Id,Text,Username,location,reply count,retweet count,like count,language,Twitter Access Point,Follower Count,Friends Count,verified,Date,mentions,sentiment
0,2022-11-10 01:38:32+00:00,1590519242805641216,"@micsolana In days to come, weâ€™ll add granular...",elonmusk,NaN,348,133,1557,en,Twitter for iPhone,115241851,130,True,2022-11-10,micsolana,"['neutral', 0.7305445]"
1,2022-11-10 00:45:30+00:00,1590505894210834434,@micsolana We are changing the text to say â€œLe...,elonmusk,NaN,1224,598,9464,en,Twitter for iPhone,115241851,130,True,2022-11-10,micsolana,"['neutral', 0.58761513]"
2,2022-11-09 23:14:53+00:00,1590483090367197185,@guslabu @tomwarren ðŸŽ¯ðŸ˜ŽðŸ’°,elonmusk,NaN,496,122,2066,und,Twitter for iPhone,115241851,130,True,2022-11-09,"guslabu,tomwarren","['positive', 0.5533905]"
3,2022-11-09 23:04:29+00:00,1590480472613998593,@StarringShane Subscription Blue is better tha...,elonmusk,NaN,2253,1041,17872,en,Twitter for iPhone,115241851,130,True,2022-11-09,StarringShane,"['positive', 0.47260958]"
4,2022-11-09 19:29:02+00:00,1590426255018848256,@PPathole The goal of Twitter DMs is to supers...,elonmusk,NaN,1001,513,10904,en,Twitter for iPhone,115241851,130,True,2022-11-09,PPathole,"['neutral', 0.82402253]"

In [29]:
file3oct22= pd.read_csv("ElonTweets(Sentiment)_10-28-22.csv")
file3oct22.drop(columns=['Unnamed: 0.2','Unnamed: 0.1', 'Unnamed: 0'], inplace=True)
file3oct22.head()

,Datetime,Tweet Id,Text,Username,location,reply count,retweet count,like count,language,Twitter Access Point,Follower Count,Friends Count,verified,Date,mentions,sentiment
0,2022-10-28 03:49:11+00:00,1585841080431321088,the bird is freed,elonmusk,Twitter HQ,57663,128631,730472,en,Twitter for iPhone,110553384,122,True,2022-10-28,_,"['positive', 0.70848316]"
1,2022-10-28 01:50:49+00:00,1585811291851018241,Falcon rockets to orbit as seen from LA https:...,elonmusk,Twitter HQ,6857,16499,189436,en,Twitter for iPhone,110553384,122,True,2022-10-28,_,"['neutral', 0.90077394]"
2,2022-10-27 21:45:47+00:00,1585749627365515266,@Gfilche @Twitter ðŸ¤£,elonmusk,Twitter HQ,632,246,7052,und,Twitter for iPhone,110553384,122,True,2022-10-27,"Gfilche,Twitter","['neutral', 0.5714027]"
3,2022-10-27 16:17:39+00:00,1585667048020901888,@PeterSchiff ðŸ¤£ thanks,elonmusk,Twitter HQ,670,420,17577,en,Twitter for iPhone,110553384,122,True,2022-10-27,PeterSchiff,"['positive', 0.78971434]"
4,2022-10-27 13:19:25+00:00,1585622194696044544,@ZubyMusic Absolutely,elonmusk,Twitter HQ,1281,1152,42896,en,Twitter for iPhone,110553384,122,True,2022-10-27,ZubyMusic,"['neutral', 0.5287457]"

In [30]:
file1.describe()

,Tweet Id,location,reply count,retweet count,like count,Follower Count,Friends Count
count,1.760200e+04,0.0,17602.000000,17602.000000,1.760200e+04,1.760200e+04,17602.0
mean,1.174925e+18,NaN,1555.814737,2913.791785,3.154220e+04,1.074143e+08,122.0
std,3.065447e+17,NaN,5917.449731,12432.194000,1.044724e+05,1.028138e+03,0.0
min,1.543473e+10,NaN,0.000000,0.000000,2.000000e+00,1.074129e+08,122.0
25%,1.017267e+18,NaN,64.000000,67.000000,1.246000e+03,1.074134e+08,122.0
50%,1.235483e+18,NaN,220.000000,262.000000,4.533500e+03,1.074137e+08,122.0
75%,1.414683e+18,NaN,766.000000,1169.000000,1.760750e+04,1.074154e+08,122.0
max,1.575582e+18,NaN,194791.000000,686210.000000,4.799760e+06,1.074158e+08,122.0

In [31]:
file1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17602 entries, 0 to 17601
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Datetime              17602 non-null  object
 1   Tweet Id              17602 non-null  int64
 2   Text                  17602 non-null  object
 3   Username              17602 non-null  object
 4   location              0 non-null      float64
 5   reply count           17602 non-null  int64
 6   retweet count         17602 non-null  int64
 7   like count            17602 non-null  int64
 8   language              17602 non-null  object
 9   Twitter Access Point  17602 non-null  object
 10  Follower Count        17602 non-null  int64
 11   Friends Count        17602 non-null  int64
 12  verified              17602 non-null  bool
 13  Date                  17602 non-null  object
 14  mentions              17602 non-null  object
 15  sentiment             17602 non-null  object
dtypes: bool(1), float64(1), int64(6), object(8)
memory usage: 2.0+ MB

In [32]:
file2nov22.describe()

,Tweet Id,location,reply count,retweet count,like count,Follower Count,Friends Count
count,1.771900e+04,0.0,17719.000000,17719.000000,1.771900e+04,1.771900e+04,17719.0
mean,1.192435e+18,NaN,1775.651391,3088.401095,3.400025e+04,1.152412e+08,130.0
std,3.109524e+17,NaN,6767.184243,13102.146207,1.128623e+05,1.364855e+03,0.0
min,1.543473e+10,NaN,0.000000,0.000000,3.000000e+00,1.152385e+08,130.0
25%,1.028985e+18,NaN,67.000000,70.000000,1.314500e+03,1.152413e+08,130.0
50%,1.250699e+18,NaN,238.000000,279.000000,4.842000e+03,1.152419e+08,130.0
75%,1.437164e+18,NaN,838.500000,1238.000000,1.898450e+04,1.152422e+08,130.0
max,1.590519e+18,NaN,193638.000000,680090.000000,4.770284e+06,1.152425e+08,130.0

In [33]:
file2nov22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17719 entries, 0 to 17718
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Datetime              17719 non-null  object
 1   Tweet Id              17719 non-null  int64
 2   Text                  17719 non-null  object
 3   Username              17719 non-null  object
 4   location              0 non-null      float64
 5   reply count           17719 non-null  int64
 6   retweet count         17719 non-null  int64
 7   like count            17719 non-null  int64
 8   language              17719 non-null  object
 9   Twitter Access Point  17719 non-null  object
 10  Follower Count        17719 non-null  int64
 11   Friends Count        17719 non-null  int64
 12  verified              17719 non-null  bool
 13  Date                  17719 non-null  object
 14  mentions              17719 non-null  object
 15  sentiment             17719 non-null  object
dtypes: bool(1), float64(1), int64(6), object(8)
memory usage: 2.0+ MB

In [13]:
file3oct22.describe()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Tweet Id,reply count,retweet count,like count,Follower Count,Friends Count
count,17445.000000,17445.000000,17445.000000,1.744500e+04,17445.000000,17445.000000,1.744500e+04,1.744500e+04,17445.0
mean,8722.000000,8722.000000,8722.000000,1.185936e+18,1616.132817,2931.004872,3.192033e+04,1.105545e+08,122.0
std,5036.082059,5036.082059,5036.082059,3.093505e+17,6064.134762,12463.284181,1.049149e+05,5.784134e+02,0.0
min,0.000000,0.000000,0.000000,1.543473e+10,0.000000,0.000000,3.000000e+00,1.105534e+08,122.0
25%,4361.000000,4361.000000,4361.000000,1.024363e+18,66.000000,68.000000,1.292000e+03,1.105540e+08,122.0
50%,8722.000000,8722.000000,8722.000000,1.246208e+18,230.000000,270.000000,4.704000e+03,1.105545e+08,122.0
75%,13083.000000,13083.000000,13083.000000,1.426316e+18,797.000000,1192.000000,1.808500e+04,1.105550e+08,122.0
max,17444.000000,17444.000000,17444.000000,1.585841e+18,193966.000000,681768.000000,4.781242e+06,1.105555e+08,122.0

In [34]:
file3oct22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17445 entries, 0 to 17444
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Datetime              17445 non-null  object
 1   Tweet Id              17445 non-null  int64
 2   Text                  17445 non-null  object
 3   Username              17445 non-null  object
 4   location              17445 non-null  object
 5   reply count           17445 non-null  int64
 6   retweet count         17445 non-null  int64
 7   like count            17445 non-null  int64
 8   language              17445 non-null  object
 9   Twitter Access Point  17445 non-null  object
 10  Follower Count        17445 non-null  int64
 11   Friends Count        17445 non-null  int64
 12  verified              17445 non-null  bool
 13  Date                  17445 non-null  object
 14  mentions              17445 non-null  object
 15  sentiment             17445 non-null  object
dtypes: bool(1), int64(6), object(9)
memory usage: 2.0+ MB

In [51]:
concat1_2_3=pd.concat([file1, file3oct22, file2nov22])
concat1_2_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52766 entries, 0 to 17718
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Datetime              52766 non-null  object
 1   Tweet Id              52766 non-null  int64
 2   Text                  52766 non-null  object
 3   Username              52766 non-null  object
 4   location              17445 non-null  object
 5   reply count           52766 non-null  int64
 6   retweet count         52766 non-null  int64
 7   like count            52766 non-null  int64
 8   language              52766 non-null  object
 9   Twitter Access Point  52766 non-null  object
 10  Follower Count        52766 non-null  int64
 11   Friends Count        52766 non-null  int64
 12  verified              52766 non-null  bool
 13  Date                  52766 non-null  object
 14  mentions              52766 non-null  object
 15  sentiment             52766 non-null  object
dtypes: bool(1), int64(6), object(9)
memory usage: 6.5+ MB

In [52]:
concat1_2_3

,Datetime,Tweet Id,Text,Username,location,reply count,retweet count,like count,language,Twitter Access Point,Follower Count,Friends Count,verified,Date,mentions,sentiment
0,2022-09-29 20:22:46+00:00,1575581872913907712,@MuskUniversity True,elonmusk,NaN,377,127,3007,en,Twitter for iPhone,107414837,122,True,2022-09-29,MuskUniversity,"['neutral', 0.6005306]"
1,2022-09-29 15:35:09+00:00,1575509494510993408,Needs be able to get from Starbase to South Pa...,elonmusk,NaN,1604,1416,33556,en,Twitter for iPhone,107414837,122,True,2022-09-29,_,"['neutral', 0.8452575]"
2,2022-09-29 15:32:42+00:00,1575508878300618752,@WholeMarsBlog Off-label use ðŸ¤£,elonmusk,NaN,754,492,23482,en,Twitter for iPhone,107414837,122,True,2022-09-29,WholeMarsBlog,"['neutral', 0.7530303]"
3,2022-09-29 15:31:12+00:00,1575508498430820352,Cybertruck will be waterproof enough to serve ...,elonmusk,NaN,12870,9732,124276,en,Twitter for iPhone,107414837,122,True,2022-09-29,_,"['positive', 0.6118259]"
4,2022-09-29 15:28:10+00:00,1575507735298207744,@phibetakitten Submarines use electric motors ...,elonmusk,NaN,509,347,8189,en,Twitter for iPhone,107414837,122,True,2022-09-29,phibetakitten,"['neutral', 0.85970926]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17714,2011-12-03 08:22:07+00:00,142881284019060736,That was a total non sequitur btw,elonmusk,NaN,28,9,52,en,Twitter for iPhone,115242467,130,True,2011-12-03,_,"['negative', 0.5067324]"
17715,2011-12-03 08:20:28+00:00,142880871391838208,"Great Voltaire quote, arguably better than Twa...",elonmusk,NaN,32,30,66,en,Twitter for iPhone,115242467,130,True,2011-12-03,_,"['positive', 0.55860823]"
17716,2011-12-01 10:29:04+00:00,142188458125963264,I made the volume on the Model S http://t.co/w...,elonmusk,NaN,29,13,76,en,Twitter Web Client,115242467,130,True,2011-12-01,_,"['neutral', 0.6384011]"
17717,2011-12-01 09:55:11+00:00,142179928203460608,Went to Iceland on Sat to ride bumper cars on ...,elonmusk,NaN,33,22,189,en,Twitter Web Client,115242467,130,True,2011-12-01,_,"['positive', 0.9733198]"
17718,2010-06-04 18:31:57+00:00,15434727182,"Please ignore prior tweets, as that was someon...",elonmusk,NaN,1035,600,6116,en,Twitter Web Client,115242467,130,True,2010-06-04,_,"['neutral', 0.5472165]"

In [55]:
list_dupl=list(concat1_2_3[['Tweet Id']].duplicated())
for i in list_dupl:
    count=0
    if i:
        count+=1
count

1

In [56]:
concat1_2_3.loc[concat1_2_3[['Tweet Id']].duplicated(keep='first')]

,Datetime,Tweet Id,Text,Username,location,reply count,retweet count,like count,language,Twitter Access Point,Follower Count,Friends Count,verified,Date,mentions,sentiment
453,2022-09-29 20:22:46+00:00,1575581872913907712,@MuskUniversity True,elonmusk,Twitter HQ,831,479,14599,en,Twitter for iPhone,110553384,122,True,2022-09-29,MuskUniversity,"['neutral', 0.6005306]"
454,2022-09-29 15:35:09+00:00,1575509494510993408,Needs be able to get from Starbase to South Pa...,elonmusk,Twitter HQ,2585,2358,56418,en,Twitter for iPhone,110553384,122,True,2022-09-29,_,"['neutral', 0.8452575]"
455,2022-09-29 15:32:42+00:00,1575508878300618752,@WholeMarsBlog Off-label use ðŸ¤£,elonmusk,Twitter HQ,1283,1095,54407,en,Twitter for iPhone,110553384,122,True,2022-09-29,WholeMarsBlog,"['neutral', 0.7530303]"
456,2022-09-29 15:31:12+00:00,1575508498430820352,Cybertruck will be waterproof enough to serve ...,elonmusk,Twitter HQ,19936,14899,210357,en,Twitter for iPhone,110553384,122,True,2022-09-29,_,"['positive', 0.6118259]"
457,2022-09-29 15:28:10+00:00,1575507735298207744,@phibetakitten Submarines use electric motors ...,elonmusk,Twitter HQ,964,667,19532,en,Twitter for iPhone,110553384,122,True,2022-09-29,phibetakitten,"['neutral', 0.85970926]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17714,2011-12-03 08:22:07+00:00,142881284019060736,That was a total non sequitur btw,elonmusk,NaN,28,9,52,en,Twitter for iPhone,115242467,130,True,2011-12-03,_,"['negative', 0.5067324]"
17715,2011-12-03 08:20:28+00:00,142880871391838208,"Great Voltaire quote, arguably better than Twa...",elonmusk,NaN,32,30,66,en,Twitter for iPhone,115242467,130,True,2011-12-03,_,"['positive', 0.55860823]"
17716,2011-12-01 10:29:04+00:00,142188458125963264,I made the volume on the Model S http://t.co/w...,elonmusk,NaN,29,13,76,en,Twitter Web Client,115242467,130,True,2011-12-01,_,"['neutral', 0.6384011]"
17717,2011-12-01 09:55:11+00:00,142179928203460608,Went to Iceland on Sat to ride bumper cars on ...,elonmusk,NaN,33,22,189,en,Twitter Web Client,115242467,130,True,2011-12-01,_,"['positive', 0.9733198]"
17718,2010-06-04 18:31:57+00:00,15434727182,"Please ignore prior tweets, as that was someon...",elonmusk,NaN,1035,600,6116,en,Twitter Web Client,115242467,130,True,2010-06-04,_,"['neutral', 0.5472165]"

In [68]:
cleandata= concat1_2_3.drop_duplicates(subset=concat1_2_3[['Tweet Id']], keep='first', ignore_index=True)
cleandata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18335 entries, 0 to 18334
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Datetime              18335 non-null  object
 1   Tweet Id              18335 non-null  int64
 2   Text                  18335 non-null  object
 3   Username              18335 non-null  object
 4   location              454 non-null    object
 5   reply count           18335 non-null  int64
 6   retweet count         18335 non-null  int64
 7   like count            18335 non-null  int64
 8   language              18335 non-null  object
 9   Twitter Access Point  18335 non-null  object
 10  Follower Count        18335 non-null  int64
 11   Friends Count        18335 non-null  int64
 12  verified              18335 non-null  bool
 13  Date                  18335 non-null  object
 14  mentions              18335 non-null  object
 15  sentiment             18335 non-null  object
dtypes: bool(1), int64(6), object(9)
memory usage: 2.1+ MB

In [71]:
cleandata.describe(include="O")

,Datetime,Text,Username,location,language,Twitter Access Point,Date,mentions,sentiment
count,18335,18335,18335,454,18335,18335,18335,18335,18335
unique,18332,18104,1,1,44,9,2569,8387,15860
top,2018-04-01 22:02:31+00:00,@BillyM2k ðŸ¤£,elonmusk,Twitter HQ,en,Twitter for iPhone,2020-04-16,_,"['neutral', 0.47640553]"
freq,2,23,18335,454,15766,17773,56,4488,241

In [72]:
cleandata.describe()

,Tweet Id,reply count,retweet count,like count,Follower Count,Friends Count
count,1.833500e+04,18335.000000,18335.000000,1.833500e+04,1.833500e+04,18335.000000
mean,1.191230e+18,1762.885519,3076.435615,3.379425e+04,1.076112e+08,122.121734
std,3.108302e+17,6687.301549,12815.484926,1.107087e+05,1.066513e+06,0.979341
min,1.543473e+10,0.000000,0.000000,2.000000e+00,1.074129e+08,122.000000
25%,1.027908e+18,67.000000,70.000000,1.320000e+03,1.074134e+08,122.000000
50%,1.250603e+18,237.000000,279.000000,4.845000e+03,1.074149e+08,122.000000
75%,1.435902e+18,833.000000,1243.500000,1.891400e+04,1.074154e+08,122.000000
max,1.590519e+18,194791.000000,686210.000000,4.799760e+06,1.152419e+08,130.000000

In [73]:
cleandata['verified'].value_counts()

True    18335
Name: verified, dtype: int64

In [75]:
cleandata.drop(columns=['location', 'Username', 'verified'], inplace=True)

/var/folders/5g/jskfzb8j377fh7wl3_rxvkrc0000gn/T/ipykernel_4201/1313156686.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleandata.drop(columns=['location', 'Username', 'verified'], inplace=True)

,Datetime,Tweet Id,Text,reply count,retweet count,like count,language,Twitter Access Point,Follower Count,Friends Count,Date,mentions,sentiment
0,2022-09-29 20:22:46+00:00,1575581872913907712,@MuskUniversity True,377,127,3007,en,Twitter for iPhone,107414837,122,2022-09-29,MuskUniversity,"['neutral', 0.6005306]"
1,2022-09-29 15:35:09+00:00,1575509494510993408,Needs be able to get from Starbase to South Pa...,1604,1416,33556,en,Twitter for iPhone,107414837,122,2022-09-29,_,"['neutral', 0.8452575]"
2,2022-09-29 15:32:42+00:00,1575508878300618752,@WholeMarsBlog Off-label use ðŸ¤£,754,492,23482,en,Twitter for iPhone,107414837,122,2022-09-29,WholeMarsBlog,"['neutral', 0.7530303]"
3,2022-09-29 15:31:12+00:00,1575508498430820352,Cybertruck will be waterproof enough to serve ...,12870,9732,124276,en,Twitter for iPhone,107414837,122,2022-09-29,_,"['positive', 0.6118259]"
4,2022-09-29 15:28:10+00:00,1575507735298207744,@phibetakitten Submarines use electric motors ...,509,347,8189,en,Twitter for iPhone,107414837,122,2022-09-29,phibetakitten,"['neutral', 0.85970926]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18330,2022-10-28 18:10:58+00:00,1586057952678465537,@slashdot !,1548,1611,31787,qam,Twitter for iPhone,115238579,130,2022-10-28,slashdot,"['neutral', 0.6284962]"
18331,2022-10-28 18:09:54+00:00,1586057687782998017,@skorusARK Cool!,1041,593,21339,en,Twitter for iPhone,115238579,130,2022-10-28,skorusARK,"['positive', 0.93216985]"
18332,2022-10-28 13:08:13+00:00,1585981766229143552,@WeAreCanProud First Iâ€™ve heard,3213,3846,77864,en,Twitter for iPhone,115238579,130,2022-10-28,WeAreCanProud,"['neutral', 0.7581035]"
18333,2022-10-28 12:09:02+00:00,1585966869122457600,ðŸŽ¶ let the good times roll ðŸŽ¶,48131,94751,999337,en,Twitter for iPhone,115238579,130,2022-10-28,_,"['positive', 0.88627243]"
18334,2022-10-28 11:41:12+00:00,1585959864454459393,@catturd2 I will be digging in more today,8217,12234,197637,en,Twitter for iPhone,115238579,130,2022-10-28,catturd2,"['positive', 0.51720893]"

In [84]:
cleandata

,Datetime,Tweet Id,Text,reply count,retweet count,like count,language,Twitter Access Point,Follower Count,Friends Count,Date,mentions,sentiment,sentiment_cat
0,2022-09-29 20:22:46+00:00,1575581872913907712,@MuskUniversity True,377,127,3007,en,Twitter for iPhone,107414837,122,2022-09-29,MuskUniversity,"['neutral', 0.6005306]","['neutral', 0.6005306]"
1,2022-09-29 15:35:09+00:00,1575509494510993408,Needs be able to get from Starbase to South Pa...,1604,1416,33556,en,Twitter for iPhone,107414837,122,2022-09-29,_,"['neutral', 0.8452575]","['neutral', 0.6005306]"
2,2022-09-29 15:32:42+00:00,1575508878300618752,@WholeMarsBlog Off-label use ðŸ¤£,754,492,23482,en,Twitter for iPhone,107414837,122,2022-09-29,WholeMarsBlog,"['neutral', 0.7530303]","['neutral', 0.6005306]"
3,2022-09-29 15:31:12+00:00,1575508498430820352,Cybertruck will be waterproof enough to serve ...,12870,9732,124276,en,Twitter for iPhone,107414837,122,2022-09-29,_,"['positive', 0.6118259]","['neutral', 0.6005306]"
4,2022-09-29 15:28:10+00:00,1575507735298207744,@phibetakitten Submarines use electric motors ...,509,347,8189,en,Twitter for iPhone,107414837,122,2022-09-29,phibetakitten,"['neutral', 0.85970926]","['neutral', 0.6005306]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18330,2022-10-28 18:10:58+00:00,1586057952678465537,@slashdot !,1548,1611,31787,qam,Twitter for iPhone,115238579,130,2022-10-28,slashdot,"['neutral', 0.6284962]","['neutral', 0.6005306]"
18331,2022-10-28 18:09:54+00:00,1586057687782998017,@skorusARK Cool!,1041,593,21339,en,Twitter for iPhone,115238579,130,2022-10-28,skorusARK,"['positive', 0.93216985]","['neutral', 0.6005306]"
18332,2022-10-28 13:08:13+00:00,1585981766229143552,@WeAreCanProud First Iâ€™ve heard,3213,3846,77864,en,Twitter for iPhone,115238579,130,2022-10-28,WeAreCanProud,"['neutral', 0.7581035]","['neutral', 0.6005306]"
18333,2022-10-28 12:09:02+00:00,1585966869122457600,ðŸŽ¶ let the good times roll ðŸŽ¶,48131,94751,999337,en,Twitter for iPhone,115238579,130,2022-10-28,_,"['positive', 0.88627243]","['neutral', 0.6005306]"
18334,2022-10-28 11:41:12+00:00,1585959864454459393,@catturd2 I will be digging in more today,8217,12234,197637,en,Twitter for iPhone,115238579,130,2022-10-28,catturd2,"['positive', 0.51720893]","['neutral', 0.6005306]"

In [100]:
# extract data from column 'sentiment' and split it into two columns
cleandata[['sentiment_cat', 'sentiment_val']] = cleandata['sentiment'].str.split(',', 1, expand=True)
cleandata

,Datetime,Tweet Id,Text,reply count,retweet count,like count,language,Twitter Access Point,Follower Count,Friends Count,Date,mentions,sentiment,sentiment_cat,sentiment_val
0,2022-09-29 20:22:46+00:00,1575581872913907712,@MuskUniversity True,377,127,3007,en,Twitter for iPhone,107414837,122,2022-09-29,MuskUniversity,"['neutral', 0.6005306]",['neutral',0.6005306]
1,2022-09-29 15:35:09+00:00,1575509494510993408,Needs be able to get from Starbase to South Pa...,1604,1416,33556,en,Twitter for iPhone,107414837,122,2022-09-29,_,"['neutral', 0.8452575]",['neutral',0.8452575]
2,2022-09-29 15:32:42+00:00,1575508878300618752,@WholeMarsBlog Off-label use ðŸ¤£,754,492,23482,en,Twitter for iPhone,107414837,122,2022-09-29,WholeMarsBlog,"['neutral', 0.7530303]",['neutral',0.7530303]
3,2022-09-29 15:31:12+00:00,1575508498430820352,Cybertruck will be waterproof enough to serve ...,12870,9732,124276,en,Twitter for iPhone,107414837,122,2022-09-29,_,"['positive', 0.6118259]",['positive',0.6118259]
4,2022-09-29 15:28:10+00:00,1575507735298207744,@phibetakitten Submarines use electric motors ...,509,347,8189,en,Twitter for iPhone,107414837,122,2022-09-29,phibetakitten,"['neutral', 0.85970926]",['neutral',0.85970926]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18330,2022-10-28 18:10:58+00:00,1586057952678465537,@slashdot !,1548,1611,31787,qam,Twitter for iPhone,115238579,130,2022-10-28,slashdot,"['neutral', 0.6284962]",['neutral',0.6284962]
18331,2022-10-28 18:09:54+00:00,1586057687782998017,@skorusARK Cool!,1041,593,21339,en,Twitter for iPhone,115238579,130,2022-10-28,skorusARK,"['positive', 0.93216985]",['positive',0.93216985]
18332,2022-10-28 13:08:13+00:00,1585981766229143552,@WeAreCanProud First Iâ€™ve heard,3213,3846,77864,en,Twitter for iPhone,115238579,130,2022-10-28,WeAreCanProud,"['neutral', 0.7581035]",['neutral',0.7581035]
18333,2022-10-28 12:09:02+00:00,1585966869122457600,ðŸŽ¶ let the good times roll ðŸŽ¶,48131,94751,999337,en,Twitter for iPhone,115238579,130,2022-10-28,_,"['positive', 0.88627243]",['positive',0.88627243]
18334,2022-10-28 11:41:12+00:00,1585959864454459393,@catturd2 I will be digging in more today,8217,12234,197637,en,Twitter for iPhone,115238579,130,2022-10-28,catturd2,"['positive', 0.51720893]",['positive',0.51720893]

In [101]:
# remove symbols from new_columns
cleandata['sentiment_cat'] = cleandata['sentiment_cat'].str.replace('[^a-zA-Z\s]+', '')
cleandata['sentiment_val'] = cleandata['sentiment_val'].str.replace('[^a-zA-Z\s\d]+', '')
cleandata

,Datetime,Tweet Id,Text,reply count,retweet count,like count,language,Twitter Access Point,Follower Count,Friends Count,Date,mentions,sentiment,sentiment_cat,sentiment_val
0,2022-09-29 20:22:46+00:00,1575581872913907712,@MuskUniversity True,377,127,3007,en,Twitter for iPhone,107414837,122,2022-09-29,MuskUniversity,"['neutral', 0.6005306]",neutral,06005306
1,2022-09-29 15:35:09+00:00,1575509494510993408,Needs be able to get from Starbase to South Pa...,1604,1416,33556,en,Twitter for iPhone,107414837,122,2022-09-29,_,"['neutral', 0.8452575]",neutral,08452575
2,2022-09-29 15:32:42+00:00,1575508878300618752,@WholeMarsBlog Off-label use ðŸ¤£,754,492,23482,en,Twitter for iPhone,107414837,122,2022-09-29,WholeMarsBlog,"['neutral', 0.7530303]",neutral,07530303
3,2022-09-29 15:31:12+00:00,1575508498430820352,Cybertruck will be waterproof enough to serve ...,12870,9732,124276,en,Twitter for iPhone,107414837,122,2022-09-29,_,"['positive', 0.6118259]",positive,06118259
4,2022-09-29 15:28:10+00:00,1575507735298207744,@phibetakitten Submarines use electric motors ...,509,347,8189,en,Twitter for iPhone,107414837,122,2022-09-29,phibetakitten,"['neutral', 0.85970926]",neutral,085970926
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18330,2022-10-28 18:10:58+00:00,1586057952678465537,@slashdot !,1548,1611,31787,qam,Twitter for iPhone,115238579,130,2022-10-28,slashdot,"['neutral', 0.6284962]",neutral,06284962
18331,2022-10-28 18:09:54+00:00,1586057687782998017,@skorusARK Cool!,1041,593,21339,en,Twitter for iPhone,115238579,130,2022-10-28,skorusARK,"['positive', 0.93216985]",positive,093216985
18332,2022-10-28 13:08:13+00:00,1585981766229143552,@WeAreCanProud First Iâ€™ve heard,3213,3846,77864,en,Twitter for iPhone,115238579,130,2022-10-28,WeAreCanProud,"['neutral', 0.7581035]",neutral,07581035
18333,2022-10-28 12:09:02+00:00,1585966869122457600,ðŸŽ¶ let the good times roll ðŸŽ¶,48131,94751,999337,en,Twitter for iPhone,115238579,130,2022-10-28,_,"['positive', 0.88627243]",positive,088627243
18334,2022-10-28 11:41:12+00:00,1585959864454459393,@catturd2 I will be digging in more today,8217,12234,197637,en,Twitter for iPhone,115238579,130,2022-10-28,catturd2,"['positive', 0.51720893]",positive,051720893

In [105]:
cleandata['time_recoded'] = cleandata['Datetime'].str[11:19]

,Datetime,Tweet Id,Text,reply count,retweet count,like count,language,Twitter Access Point,Follower Count,Friends Count,Date,mentions,sentiment,sentiment_cat,sentiment_val,time_recoded
0,2022-09-29 20:22:46+00:00,1575581872913907712,@MuskUniversity True,377,127,3007,en,Twitter for iPhone,107414837,122,2022-09-29,MuskUniversity,"['neutral', 0.6005306]",neutral,06005306,20:22:46
1,2022-09-29 15:35:09+00:00,1575509494510993408,Needs be able to get from Starbase to South Pa...,1604,1416,33556,en,Twitter for iPhone,107414837,122,2022-09-29,_,"['neutral', 0.8452575]",neutral,08452575,15:35:09
2,2022-09-29 15:32:42+00:00,1575508878300618752,@WholeMarsBlog Off-label use ðŸ¤£,754,492,23482,en,Twitter for iPhone,107414837,122,2022-09-29,WholeMarsBlog,"['neutral', 0.7530303]",neutral,07530303,15:32:42
3,2022-09-29 15:31:12+00:00,1575508498430820352,Cybertruck will be waterproof enough to serve ...,12870,9732,124276,en,Twitter for iPhone,107414837,122,2022-09-29,_,"['positive', 0.6118259]",positive,06118259,15:31:12
4,2022-09-29 15:28:10+00:00,1575507735298207744,@phibetakitten Submarines use electric motors ...,509,347,8189,en,Twitter for iPhone,107414837,122,2022-09-29,phibetakitten,"['neutral', 0.85970926]",neutral,085970926,15:28:10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18330,2022-10-28 18:10:58+00:00,1586057952678465537,@slashdot !,1548,1611,31787,qam,Twitter for iPhone,115238579,130,2022-10-28,slashdot,"['neutral', 0.6284962]",neutral,06284962,18:10:58
18331,2022-10-28 18:09:54+00:00,1586057687782998017,@skorusARK Cool!,1041,593,21339,en,Twitter for iPhone,115238579,130,2022-10-28,skorusARK,"['positive', 0.93216985]",positive,093216985,18:09:54
18332,2022-10-28 13:08:13+00:00,1585981766229143552,@WeAreCanProud First Iâ€™ve heard,3213,3846,77864,en,Twitter for iPhone,115238579,130,2022-10-28,WeAreCanProud,"['neutral', 0.7581035]",neutral,07581035,13:08:13
18333,2022-10-28 12:09:02+00:00,1585966869122457600,ðŸŽ¶ let the good times roll ðŸŽ¶,48131,94751,999337,en,Twitter for iPhone,115238579,130,2022-10-28,_,"['positive', 0.88627243]",positive,088627243,12:09:02
18334,2022-10-28 11:41:12+00:00,1585959864454459393,@catturd2 I will be digging in more today,8217,12234,197637,en,Twitter for iPhone,115238579,130,2022-10-28,catturd2,"['positive', 0.51720893]",positive,051720893,11:41:12

In [109]:
cleandata.drop(columns=["Datetime","sentiment"], inplace=True)
cleandata

,Tweet Id,Text,reply count,retweet count,like count,language,Twitter Access Point,Follower Count,Friends Count,Date,mentions,sentiment_cat,sentiment_val,time_recoded
0,1575581872913907712,@MuskUniversity True,377,127,3007,en,Twitter for iPhone,107414837,122,2022-09-29,MuskUniversity,neutral,06005306,20:22:46
1,1575509494510993408,Needs be able to get from Starbase to South Pa...,1604,1416,33556,en,Twitter for iPhone,107414837,122,2022-09-29,_,neutral,08452575,15:35:09
2,1575508878300618752,@WholeMarsBlog Off-label use ðŸ¤£,754,492,23482,en,Twitter for iPhone,107414837,122,2022-09-29,WholeMarsBlog,neutral,07530303,15:32:42
3,1575508498430820352,Cybertruck will be waterproof enough to serve ...,12870,9732,124276,en,Twitter for iPhone,107414837,122,2022-09-29,_,positive,06118259,15:31:12
4,1575507735298207744,@phibetakitten Submarines use electric motors ...,509,347,8189,en,Twitter for iPhone,107414837,122,2022-09-29,phibetakitten,neutral,085970926,15:28:10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18330,1586057952678465537,@slashdot !,1548,1611,31787,qam,Twitter for iPhone,115238579,130,2022-10-28,slashdot,neutral,06284962,18:10:58
18331,1586057687782998017,@skorusARK Cool!,1041,593,21339,en,Twitter for iPhone,115238579,130,2022-10-28,skorusARK,positive,093216985,18:09:54
18332,1585981766229143552,@WeAreCanProud First Iâ€™ve heard,3213,3846,77864,en,Twitter for iPhone,115238579,130,2022-10-28,WeAreCanProud,neutral,07581035,13:08:13
18333,1585966869122457600,ðŸŽ¶ let the good times roll ðŸŽ¶,48131,94751,999337,en,Twitter for iPhone,115238579,130,2022-10-28,_,positive,088627243,12:09:02
18334,1585959864454459393,@catturd2 I will be digging in more today,8217,12234,197637,en,Twitter for iPhone,115238579,130,2022-10-28,catturd2,positive,051720893,11:41:12

In [111]:
cleandata.columns

Index(['Tweet Id', 'Text', 'reply count', 'retweet count', 'like count',
       'language', 'Twitter Access Point', 'Follower Count', ' Friends Count',
       'Date', 'mentions', 'sentiment_cat', 'sentiment_val', 'time_recoded'],
      dtype='object')

In [115]:
new_columns_order = ['Tweet Id', 'Date', 'time_recoded', 'Twitter Access Point', 'language', 
                     'Text', 'mentions', 
                     'reply count', 'retweet count', 'like count', 'Follower Count', ' Friends Count',
                     'sentiment_cat', 'sentiment_val']
elon_tweets = cleandata[new_columns_order]
elon_tweets.columns

Index(['Tweet Id', 'Date', 'time_recoded', 'Twitter Access Point', 'language',
       'Text', 'mentions', 'reply count', 'retweet count', 'like count',
       'Follower Count', ' Friends Count', 'sentiment_cat', 'sentiment_val'],
      dtype='object')

In [117]:
elon_tweets.columns=['tweet_id', 'date', 'time_recoded', 'access_point', 'language',
       'text', 'mentions', 'reply_count', 'retweet_count', 'like_count',
       'follower_count', 'friends_count', 'sentiment_cat', 'sentiment_val']
elon_tweets

,tweet_id,date,time_recoded,access_point,language,text,mentions,reply_count,retweet_count,like_count,follower_count,friends_count,sentiment_cat,sentiment_val
0,1575581872913907712,2022-09-29,20:22:46,Twitter for iPhone,en,@MuskUniversity True,MuskUniversity,377,127,3007,107414837,122,neutral,06005306
1,1575509494510993408,2022-09-29,15:35:09,Twitter for iPhone,en,Needs be able to get from Starbase to South Pa...,_,1604,1416,33556,107414837,122,neutral,08452575
2,1575508878300618752,2022-09-29,15:32:42,Twitter for iPhone,en,@WholeMarsBlog Off-label use ðŸ¤£,WholeMarsBlog,754,492,23482,107414837,122,neutral,07530303
3,1575508498430820352,2022-09-29,15:31:12,Twitter for iPhone,en,Cybertruck will be waterproof enough to serve ...,_,12870,9732,124276,107414837,122,positive,06118259
4,1575507735298207744,2022-09-29,15:28:10,Twitter for iPhone,en,@phibetakitten Submarines use electric motors ...,phibetakitten,509,347,8189,107414837,122,neutral,085970926
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18330,1586057952678465537,2022-10-28,18:10:58,Twitter for iPhone,qam,@slashdot !,slashdot,1548,1611,31787,115238579,130,neutral,06284962
18331,1586057687782998017,2022-10-28,18:09:54,Twitter for iPhone,en,@skorusARK Cool!,skorusARK,1041,593,21339,115238579,130,positive,093216985
18332,1585981766229143552,2022-10-28,13:08:13,Twitter for iPhone,en,@WeAreCanProud First Iâ€™ve heard,WeAreCanProud,3213,3846,77864,115238579,130,neutral,07581035
18333,1585966869122457600,2022-10-28,12:09:02,Twitter for iPhone,en,ðŸŽ¶ let the good times roll ðŸŽ¶,_,48131,94751,999337,115238579,130,positive,088627243
18334,1585959864454459393,2022-10-28,11:41:12,Twitter for iPhone,en,@catturd2 I will be digging in more today,catturd2,8217,12234,197637,115238579,130,positive,051720893

In [119]:
elon_tweets.to_csv("elon_tweets.csv", sep=(';'))